body {
    color: rgb(136, 70, 212);
    padding: 20px;
    background-color: rgb(38, 36, 44);
}

button{
    margin-right: 10px;
}

.btn{
    background-color: blueviolet;
    border-color: rgb(27, 20, 29);
    color: white;
}

img{
    width: 300px;
    height: 300px;
}