body {
    color: rgba(102, 17, 198, 0.866);
    padding: 20px;
    background-color: rgb(20, 26, 33);
}

button{
    margin-right: 10px;
}

.btn{
    background-color: blueviolet;
    border-color: rgb(27, 20, 29);
    color: white;
}

img{
    width: 300px;
    height: 300px;
}
